		
		/* --------------- GENERAL ---------------- */

		body {
			margin:0px;
			background-color:white;
			color: #555555;
		    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		    font-size: 14px;
		    line-height: 1.42857;
		}

		.noHighlight { /* http://stackoverflow.com/a/2310809/1963978 */
		    -webkit-touch-callout: none;
		    -webkit-user-select: none;
		    -khtml-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		}

		input[type='button'] {
			padding: 5px;
			margin: 5px;
		}

		.clearBoth {
			clear:both;
		}

		.errorMessage {
			color:red !important;
			padding: 3px;
			border-radius: 3px;
		}



		/* --------------- PAGE ELEMENTS ---------------- */
		nav.header {
			padding:20px;
			background-color:#565656;
			color: white;
			font-size:160%;
			font-weight: bold;
		}

		/* --------------- OVERALL STEPS ---------------- */

		.pageWrapper {

		    }
		      .pageSection {
		        max-width:850px;
		        color: white;
		        background-color: white;
		        border-radius: 6px 6px 0px 0px;
		        border: 1px solid lightgrey;
		        margin: 2px 0px -6px 2px;        
		      }
		        .sectionHeader {
		          padding:8px;
		          padding-left:14px;
		          color: white;
		          background-image: linear-gradient(to bottom, #135a97 0px, #0e4d84 100%);
		          border-radius: 6px 6px 0px 0px;
		          border: 1px solid #1e5d94;
		          margin-bottom: -3px;
		        }
		        .sectionHeader:hover {
		          cursor:pointer;
		          background-image: linear-gradient(to bottom, #236aa7 0px, #1e5d94 100%);
		          transition-all: 350ms;
		        }
		          .sectionHeaderNumber {
		            font-size: 145%;
		            float:left;
		            vertical-align: center;
		          }
		          .sectionHeadertitle {
		            font-size: 140%;
		            float:left;
		            vertical-align: center;
		          }
		        .sectionContents {
		          display:none;
		          padding: 14px 6px 36px 6px;
		        }
		        #importJson.sectionContents {
		          display:block;
		        }



		/* --------------- SPECIFIC STEPS ---------------- */



		/* --------------- IMPORT JSON ---------------- */

		#jsonText {
			width:96%;
			height:120px;
			margin:6px;
			border: 1px solid lightgrey;
		}



		/* --------------- CHOOSE STEPS ---------------- */

		.stepHeader {

		}
		.stepHeader.selected {
			background-image: linear-gradient(to bottom, #135a97 0px, #0e4d84 100%);
		}
		.processItem:hover{
			background-color:#cc2222;
			cursor:pointer;
		}
		
		.processItem {
			/*width:100%;*/
			max-width:850px;
			padding:6px;
			padding-left:14px;
			color: white;
			background-image: linear-gradient(to bottom, #337ab7 0px, #2e6da4 100%);
			border-radius: 6px 6px 6px 6px;
			margin: 0px; /* TODO: Why is this needed? */
		}




		/* --------------- INTERPRET COMBOS ---------------- */


		.processCombo {
			max-width:850px;
			background-color:white;
			border: 1px solid lightgrey;
			/*border-top:2px solid #787878;*/
			/*margin: 10px 3px 20px 3px;*/
			border-radius: 4px;
		}


		.combination {
			padding: 9px 6px 3px 6px;
			color: white;
			background-image: linear-gradient(to bottom, #337ab7 0px, #2e6da4 100%);
			border-radius: 4px 4px 0px 0px;
		}

		.comboNumber {
			/*min-width:;*/
			margin-right:8px;
			float:left;
			padding:4px;
		}
		.region1 {
			margin-right: 14px;
		}
		.region2 {

		}


		.badgeWrapper {
			border-radius:3px;
			border: 2px solid #2a69bf;
			float:left;
		}
		.regionBadge {
			font-size:85%;
			/*padding:4px;*/
			background-color: #565656;
			border-radius:0px 0px 0px 0px;
			margin-right:3px;
			float:left;
			padding:4px;
		}

		.independent-entity1 {
			/*border:2px solid #dd2200;*/
			background-color: #dd2200;
		}
		.surrogate-entity1 {
			/*border:2px solid #2211dd;*/
			background-color:#dd9900;
		}
		.direct-leading {
			/*border:2px solid #dd9900;*/
			background-color: green;
		}
		.direct-sharing {
			/*border:2px solid green;*/
			background-color: green;
		}
		.surrogate-entity2 {
			/*border:2px solid #2211dd;*/
			background-color:#5533ff;
		}
		.independent-entity2 {
			/*border:2px solid #dd2200;*/
			background-color: purple;
		}


		.comboEntity {
			font-size: 90%;
			padding:4px;
			float:left;
		}

		.toggleCombo {
			color: #ccf;
			padding: 0px 12px 4px 4px;
			float:right;
			font-size: 180%;
		}
		.toggleCombo:hover {
			cursor:pointer;
			color:#ff4400;
		}



		.ideaWrapper {
			padding: 6px;
		}
		.ideasGoHere {
			width:75%;
			min-width:246px;
			box-shadow: none;
			height: 28px;
			margin-top:3px;
			background: none;
			background-color: #f7f7ff !important;
			border: none;
		}
		.ideasGoHere:focus {
			background-color: #fff !important;
			border: 1px solid lightgrey;
			padding-left:2px !important;
		}
		input.addTextInputButton {
			cursor: pointer;
			color: black;
			font-size: 110%;
			background: none;
			border: 1px solid #438ab7;
			border-radius:15px;
			text-align: center;
			padding: 3px 6px 3px 6px;
		}
		input.addTextInputButton:hover {
			/*background-color:#337ab7;*/
			transition:all 400ms;
			opacity: .4;
		}
		input.addTextInputButton:active {
			/*background-color: #5797d7;*/
			transition: all 200ms;
			opacity: .7;
		}
		input.addTextInputButton:focus {
			border: 1px solid #539ac7;
			background-color: #f7f7ff;
		}




		/* --------------- EXPORT INTERPRETATIONS ---------------- */

		#emailAddress {
			width: 80%;
			max-width: 450px;
			height: 24px;
			border: 1px solid lightgrey;
		}
		#emailAddressAnchor {
			
		}

