body {
  margin: 0;
  background-color: #ababab;
  font-family: Segoe UI;
}
.pageWrapper {

}
.tabHeader {
  background-color: #393939;
  height: 49px;
}
.contentWrapper {
  background-color: #ababab;
  padding: 6px;
}

form.stepTabBody {

}



.animationEnter {
  -webkit-transition: 1s linear all; /* Safari/Chrome */
  -moz-transition: 1s linear all; /* Firefox */
  -o-transition: 1s linear all; /* Opera */
  transition: 1s linear all; /* IE10+ and Future Browsers */
}


.animate-enter {
  -webkit-animation: enter_sequence 1s linear; /* Safari/Chrome */
  -moz-animation: enter_sequence 1s linear; /* Firefox */
  -o-animation: enter_sequence 1s linear; /* Opera */
  animation: enter_sequence 1s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@-moz-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@-o-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}





fieldset.step {
  border: none;
  background-color: #878787;
  padding: 12px;
  padding-bottom: 6px;
  margin: 12px;
  min-height: 26px;
  box-shadow: 2px 2px 4px #676767;

  transition: all 5s;
}
fieldset.step:hover{
  /*background-color: #6C6C6C;*/
  cursor: pointer;
}
fieldset.step:active{
  background-color: #7C7C7C;
  cursor: pointer;
  box-shadow: 2px 2px 2px #676767;
}
span.stepNumber {
  float:left;
  color: white;
  margin-right:6px;
  margin-top:3px;
  font-size:90%;
}
div.stepDescription {
  float: left;
  margin-right: 4px;
  padding:2px;
}


/* INDIVIDUAL PROCESS STEP VALUES */

.genericStepValue {
  color: white;
  border: none;
  float: left;
}

.problemValue {
  background-color: #B7B7BF;
  border-left: 3px solid #df2301;
}

.controlRegionValue {
  background-color: #B7B7BF;
  border-left: 3px solid #41df31;
}

.typeValue {
  background-color: #B7B7BF;
  border-left: 3px solid #0900ef;
}


/* === INPUT REGIONS === */
.inputRegion {
  /*float: left;*/
  color: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  border: none;
  margin: 4px 2px 4px 2px;
  padding: 5px;
  padding-right: 8px;
  width: 340px;
  min-height: 60px;
  /*min-width: 320px;*/
  background-color: #bdbdc2;
  
}
.stepProblemWrapper {
  border-left: 3px solid #df2301;
}
.stepControlRegionWrapper {
  border-left: 3px solid #41df31;
}
.stepTypeWrapper {
  border-left: 3px solid #0900ef;
}




/* === NEW PROCESS STEP INPUTS === */

input[type='textbox'].stepDescription {
  border:none;
  border-bottom: 1px solid #c7c7c7;
  background-color: #878787;
  color: white;
  min-width: 200px;
}

/* http://stackoverflow.com/a/9705712/1963978 */
input.stepDescription::-webkit-input-placeholder {
    color: #c7c7c7;
}
input.stepDescription:-moz-placeholder {
    /* FF 4-18 */
    color: #c7c7c7;
}
input.stepDescription::-moz-placeholder {
    /* FF 19+ */
    color: #c7c7c7;
}
input.stepDescription:-ms-input-placeholder {
    /* IE 10+ */
    color: #c7c7c7;
}








.stepClearButton {
  float:left;
  background: none;
  color:white;
  border:none;
  padding-right:5px;
  padding-left:3px;
  margin-top:-3px;
  margin-right:13px;
  margin-left:7px;
  font-size:115%;
  font-weight: bold;
  transition: all 120ms;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.stepClearButton:hover {
  cursor:pointer;
  color: #cd2222 !important;
}
.stepClearButton:active {
  cursor:pointer;
  color: #8d2222 !important;
}

input.stepTitleTextbox {
  border: none;
}

textarea.finalJson {
  margin-top:26px;
  min-width: 260px;
  min-height: 80px;
  border:none;
  background-color:#dfdfdf;
  overflow:auto;
  transition: all 200ms;
}

textarea.finalJson:focus {
  background-color: #fff;  
}

.floatLeft {
  float:left;
}

.floatEnder {
  clear: both;
}
