<!DOCTYPE html>
<html ng-app="processAudit">
<head>
	<title>Service Process Audit Assist
	</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="index.css" media="screen" title="no title" charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
	<script src="index.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
	<script src="jquery.ui.touch-punch.min.js"></script>

	<script src="validation.js"></script>
	<script src="lib/tv4.min.js"></script>

	<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<!-- // <script src="lib/bootstrap/js/bootstrap.min.js"></script> -->

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<script type="text/javascript" src="lib/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
	<link rel="stylesheet" href="lib/boostrap-multiselect/css/bootstrap-multiselect.css" type="text/css"/>

	<meta name="viewport" content="width=600,initial-scale=1">
</head>
<body>
	<div class='pageWrapper'>
		<div class='tabHeader'>
		</div>
		<div class='contentWrapper'>
			<div class='stepTabBody' ng-controller="StepController as stepCtrl">
				<div class='fieldsetContainer'>

					<form id="metadataForm" ng-submit='updateJSON()' novalidate role="form">
						<div>
							<h3>Process</h3>

								<div class="form-group">
									<label for="InputEmail">Title</label>
									<input class="form-control" placeholder="Title" ng-model='finalJSON.metadata.title'>

								</div>

								<div class="form-group">
									<label for="inputPassword">Description</label>
									<textarea class="form-control" rows="3" placeholder="Description" ng-model='finalJSON.metadata.description'></textarea>
								</div>

								<div class="form-group">
									<label for="inputPassword" >Author</label>
									<input class="form-control" placeholder="Author" ng-model='finalJSON.metadata.author'>
								</div>

						</div>
						<div>
							<h4>Customer</h4>

								<div class="form-group">
									<label for="inputPassword" >Name</label>
									<input class="form-control" placeholder="Name" ng-model='domain1.title'>
								</div>

								<div class="form-group">
									<label for="inputPassword" >Subtitle</label>
									<input class="form-control" placeholder="Subtitle" ng-model='domain1.subtitle'>
								</div>

						</div>
						<div>
							<h4>Provider</h4>

								<div class="form-group">
									<label for="inputPassword" >Name</label>
									<input class="form-control" placeholder="Name" ng-model='domain2.title'>
								</div>

								<div class="form-group">
									<label for="inputPassword">Subtitle</label>
									<input class="form-control" placeholder="Subtitle" ng-model='domain2.subtitle'>
								</div>


						</div>
						<button type="submit" class="btn btn-default">Update</button>
					</form>
				</div>

				<div class='fieldsetContainer' ng-repeat="singleStep in finalJSON.steps" ng-animate="{ enter: 'animation-enter', leave: 'animation-leave'}">
					<fieldset class='step' >
						<div class='stepClearButton'>
							x
						</div>
						<span class='stepNumber'>
							{{$index+1}}
						</span>
						<div class='stepDescription'>
							{{singlestep.title}}
						</div>
						<fieldset class='problemValue genericStepValue'>
							{{singleStep.problems}}
						</fieldset>
						<fieldset class='controlRegionValue genericStepValue'>
							{{singleStep.controlRegion}}
						</fieldset>
						<fieldset class='typeValue genericStepValue'>
							{{singleStep.type | firstUpperAndUlToSpace}}
						</fieldset>
						<fieldset class='previousStepValue genericStepValue'>
							{{singleStep.previousStep}}
						</fieldset>

						<!-- TODO: CUSTOMER VALUE -->
						<div class='floatEnder'>
						</div>
					</fieldset>

				</div>


				<div ng-show="addStepForm.$dirty">
					<div class="fieldsetContainer">
						<fieldset class='step'>
							<div class='stepDescription'>
								{{step.title}}
							</div>
							<fieldset class='problemValue genericStepValue'>
								{{inconvenient.type}} {{inconvenient.description}} {{confusing.type}} {{confusing.description}} {{difficult.type}} {{difficult.description}} {{likelytofail.type}} {{likelytofail.description}}
							</fieldset>
							<fieldset class='controlRegionValue genericStepValue'>
								{{step.controlRegion}}
							</fieldset>
							<fieldset class='typeValue genericStepValue'>
								{{step.type | firstUpperAndUlToSpace}}
							</fieldset>
							<fieldset class='previousStepValue genericStepValue'>
								{{step.previousStep}}
							</fieldset>
							<fieldset ng-show='step.emphasized'>
								Emphasized
							</fieldset>
							<!--TODO: how does Select work here?-->

							<!-- TODO: CUSTOMER VALUE -->
							<div class='floatEnder'>
							</div>
						</fieldset>
					</div>
				</div>

				<form name='addStepForm' ng-submit='addStepForm.$valid && addStep()' novalidate>



					<div class="form-group">
						<label>Step Name</label>
						<input class="form-control" placeholder="Step Name" ng-model='step.title' required>
					</div>

					<div>


						<fieldset class='stepProblemWrapper inputRegion' id='stepProblemFieldset'>
							<h4>Potential Problems</h4>
								<div data-toggle="buttons">
									<div class="input-group">
									  <span class="input-group-addon  btn btn-primary">
										<div type="button" style="width: 75px">Inconvenient</div>
									  </span>
									  <input type="text" class="form-control">
									</div>
									<br>
									<div class="input-group">
									  <span class="input-group-addon  btn btn-primary">
										<div type="button" style="width: 75px">Confusing</div>
									  </span>
									  <input type="text" class="form-control">
									</div>
									<br>
									<div class="input-group">
									  <span class="input-group-addon  btn btn-primary">
										<div type="button" style="width: 75px">Difficult</div>
									  </span>
									  <input type="text" class="form-control">
									</div>
									<br>
									<div class="input-group">
									  <span class="input-group-addon  btn btn-primary">
										<div type="button" style="width: 75px">Likely to fail</div>
									  </span>
									  <input type="text" class="form-control">
									</div>
								</div>


							<span ng-repeat='oneProblem in tempProblems'>
								<label>
									{{oneProblem.name | firstUpperAndUlToSpace}}
									<input type="checkbox" name="problemsCheckbox" value="{{oneProblem.name}}" ng-model='oneProblem.selected'>
								</label>
								<textarea ng-show='oneProblem.selected' ng-model='oneProblem.description'></textarea>
							</span>
						</fieldset>

						<fieldset class='stepControlRegionWrapper inputRegion' name='stepControlRegionFieldset'>
							<h4>Control Region</h4>


							<div id="lefttriangle">
								<div class="triangletext tleft">Provider</div>
							</div>
							<div id="righttriangle">
								<div class="triangletext tright">Customer</div>
							</div>

							<div class="btn-group btn-group-justified" data-toggle="buttons">
								<label class="btn btn-primary {{step.controlRegion == 'ProvInd' ? 'active' : ''}}">
									<input type='radio' ng-model='step.controlRegion' name='stepControlRegion' value='ProvInd'>Independent
								</label>
								<label class="btn btn-primary {{step.controlRegion == 'ProvSur' ? 'active' : ''}}">
									<input type="radio" ng-model='step.controlRegion' name='stepControlRegion' value='ProvSur'>Surrogate
								</label>
								<label class="btn btn-primary {{step.controlRegion == 'ProvDir' ? 'active' : ''}}">
									<input type="radio" ng-model='step.controlRegion' name='stepControlRegion' value='ProvDir'>Direct
								</label>
								<label class="btn btn-primary {{step.controlRegion == 'BothDir' ? 'active' : ''}}">
									<input type="radio" ng-model='step.controlRegion' name='stepControlRegion' value='BothDir' checked>Both Direct
								</label>
								<label class="btn btn-primary {{step.controlRegion == 'CustDir' ? 'active' : ''}}">
									<input type="radio" ng-model='step.controlRegion' name='stepControlRegion' value='CustDir'>Direct
								</label>
								<label class="btn btn-primary {{step.controlRegion == 'CustSur' ? 'active' : ''}}">
									<input type="radio" ng-model='step.controlRegion' name='stepControlRegion' value='CustSur'>Surrogate
								</label>
								<label class="btn btn-primary {{step.controlRegion == 'CustInd' ? 'active' : ''}}">
									<input type="radio" ng-model='step.controlRegion' name='stepControlRegion' value='CustInd'>Independent
								</label>
							</div>

						</fieldset>

						<fieldset class='stepTypeWrapper inputRegion' name='stepTypeFieldset'>
							<h4>Step Type</h4>
							<div class="btn-group btn-group-justified" data-toggle="buttons">
								<label class="btn btn-primary {{step.type == 'process' ? 'active' : ''}}">
									<input type="radio" autocomplete="off" ng-model='step.type' name='stepType' value='process'>Process
								</label>
								<label class="btn btn-primary {{step.type == 'decision' ? 'active' : ''}}">
									<input type="radio" autocomplete="off" ng-model='step.type' name='stepType' value='decision'>Decision
								</label>
								<label class="btn btn-primary {{step.type == 'wait' ? 'active' : ''}}">
									<input type="radio" autocomplete="off" ng-model='step.type' name='stepType' value='wait'>Wait
								</label>
								<label class="btn btn-primary {{step.type == 'divergent_process' ? 'active' : ''}}">
									<input type="radio" autocomplete="off" ng-model='step.type' name='stepType' value='divergent_process'>Divergent Process
								</label>
							</div>

						</fieldset>

						<fieldset class='inputRegion'>
							<h4>Specific Value Realization</h4>

							<div class="btn-group btn-group-justified" data-toggle="buttons">
								<label class="btn btn-primary {{step.value_specific == '2' ? 'active' : ''}}">
									<input type="radio" ng-model='step.value_specific' value='2'>
									<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
								</label>
								<label class="btn btn-primary {{step.value_specific == '1' ? 'active' : ''}}">
									<input type="radio" ng-model='step.value_specific' value='1'>
									<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
								</label>
								<label class="btn btn-primary {{step.value_specific == '0' ? 'active' : ''}}">
									<input type="radio" ng-model='step.value_specific' value='0' checked>
									<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
								</label>
								<label class="btn btn-primary {{step.value_specific == '-1' ? 'active' : ''}}">
									<input type="radio" ng-model='step.value_specific' value='-1'>
									<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
								</label>
							</div>
						</fieldset>

						<fieldset class='inputRegion'>
							<h4>Generic Value Realization</h4>
								<div class="btn-group btn-group-justified" data-toggle="buttons">
								  <label class="btn btn-primary {{step.value_generic == '2' ? 'active' : ''}}">
										<input type="radio" ng-model='step.value_generic' value='2'>
										<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
								  </label>
								  <label class="btn btn-primary {{step.value_generic == '1' ? 'active' : ''}}">
										<input type="radio" ng-model='step.value_generic' value='1'>
										<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
								  </label>
								  <label class="btn btn-primary {{step.value_generic == '0' ? 'active' : ''}}">
										<input type="radio" ng-model='step.value_generic' value='0' checked>
										<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
								  </label>
								  <label class="btn btn-primary {{step.value_generic == '-1' ? 'active' : ''}}">
										<input type="radio" ng-model='step.value_generic' value='-1'>
										<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
								  </label>
								  <label class="btn btn-primary {{step.value_generic == '-2' ? 'active' : ''}}">
										<input type="radio" ng-model='step.value_generic' value='-2'>
										<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
								  </label>
								</div>

						</fieldset>

						<fieldset class='inputRegion'>
							<h4>Emphasized</h4>
							<input type="checkbox" name='emphasizedCheckbox' ng-model='step.emphasized'>
							{{step.emphasized ? 'Yes':'No'}}
						</fieldset>

						<fieldset class='previousStepWrapper inputRegion' name='stepPreviousStepFieldset'>
							<h4>Select Previous Step(s)</h4>

							<select id="example-getting-started" multiple="multiple">
								<option value="">None</option>
								<option ng-repeat='oneStep in finalJSON.steps' value='oneStep.title'>{{oneStep.title}}</option>
							</select>
							<script type="text/javascript">
								$(document).ready(function() {
									$('#example-getting-started').multiselect();
								});
							</script>

							<select multiple>
								<option value=''>None</option>
								<option ng-repeat='oneStep in finalJSON.steps' value='oneStep.title'>{{oneStep.title}}</option>
								<!-- TODO: Dynamically build these based upon other existing steps whenever the select is clicked. Values should include: 'None', 'previous' (trickier), and then list of all steps, except this one. Fun, eh?-->
								<!-- https://docs.angularjs.org/api/ng/directive/select -->
							</select>
						</fieldset>
						<!-- TODO: CUSTOMER VALUE -->
					</div>
					<button type="submit" ng-disabled='addStepForm.$invalid' type="button" class="btn btn-default">Add Step</button>
					<input type="submit" ng-disabled='addStepForm.$invalid' value='Add Step'></input>

					<div class="floatEnder">
					</div>
				</form>

				<hr/>
				<label>Final JSON</label>
					<textarea select-on-click id='finalJson' class="form-control finalJson" rows="6" ng-model='finalJson'></textarea>

				<a href='http://services.byu.edu/pcn/pcn-wizard-0_4.html' target='_blank'>Original PCN Tool</a><!-- TODO: Wish that there was a way to pass parameters to this-->
				<br>
				<button id="validate" type="button" class="btn btn-default">Validate</button>
				<br>
				<div id="validation" class="alert alert-info" role="alert" visibility="hidden">
				</div>

			</div>


		</div>
	</div>

</body>
</html>
