<!DOCTYPE html>
<html ng-app="processAudit">
<head>
	<title>Service Process Audit Assist
	</title>
	<link rel="stylesheet" href="index.css" media="screen" title="no title" charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
	<script src="index.js"></script>
</head>
<body>
	<div class='pageWrapper'>
		<div class='tabHeader'>
		</div>
		<div class='contentWrapper'>
			<div class='stepTabBody' ng-controller="StepController as stepCtrl">

				<div class='fieldsetContainer' ng-repeat="singleStep in allSteps" ng-animate="{ enter: 'animation-enter', leave: 'animation-leave'}">
					<fieldset class='step' >
						<div class='stepClearButton'>
							x
						</div>
						<span class='stepNumber'>
							{{$index+1}}
						</span>
						<div class='stepDescription'>
							{{singleStep.text}}
						</div>
						<fieldset class='problemValue genericStepValue'>
							{{singleStep.problem}}
						</fieldset>
						<fieldset class='controlRegionValue genericStepValue'>
							{{singleStep.controlRegion}}
						</fieldset>
						<fieldset class='typeValue genericStepValue'>
							{{singleStep.type}}
						</fieldset>
						<fieldset class='previousStepValue genericStepValue'>
							{{singleStep.previousStep}}
						</fieldset>

						<!-- TODO: CUSTOMER VALUE -->
						<div class='floatEnder'>
						</div>
					</fieldset>

				</div>


				<div ng-show="addStepForm.$dirty">
					<div class="fieldsetContainer">
						<fieldset class='step'>
							<div class='stepDescription'>
								{{step.text}}
							</div>
							<fieldset class='problemValue genericStepValue'>
								{{step.problem.inconvenient}} {{step.problem.confusing}} {{step.problem.difficult}} {{step.problem.likelytofail}}
							</fieldset>
							<fieldset class='controlRegionValue genericStepValue'>
								{{step.controlRegion}}
							</fieldset>
							<fieldset class='typeValue genericStepValue'>
								{{step.type}}
							</fieldset>
							<fieldset class='previousStepValue genericStepValue'>
								{{step.previousStep}}
							</fieldset>
							<!--TODO: how does Select work here?-->

							<!-- TODO: CUSTOMER VALUE -->
							<div class='floatEnder'>
							</div>
						</fieldset>
					</div>
				</div>

				<form name='addStepForm' ng-submit='addStepForm.$valid && addStep()' novalidate>

					<div class=''>
						<input type='textbox' ng-model='step.text' class='stepTitleTextbox' required>
					</div>

					<div>
						<fieldset class='stepProblemWrapper inputRegion' id='stepProblemFieldset'>
							<div>Potential Problems</div>
							<label>
								Inconvenient
								<input name='stepProblem' type='checkbox' value='inconvenient' ng-model='step.problem.inconvenient' ng-true-value='Inconvenient' ng-false-value=''>
							</label>
							<textarea ng-show='step.problem.inconvenient'></textarea>

							<label>
								Confusing
								<input name='stepProblem' type='checkbox' value='confusing' ng-model='step.problem.confusing'  ng-true-value='Confusing' ng-false-value=''>
							</label>
							<textarea ng-show='step.problem.confusing'></textarea>

							<label>
								Difficult
								<input name='stepProblem' type='checkbox' value='difficult' ng-model='step.problem.difficult'  ng-true-value='Difficult' ng-false-value=''>
							</label>
							<textarea ng-show='step.problem.difficult'></textarea>

							<label>
								Likely To Fail
								<input name='stepProblem' type='checkbox' value='likelyToFail' ng-model='step.problem.likelytofail' ng-true-value='Likely to fail' ng-false-value=''>
							</label>
							<textarea ng-show='step.problem.likelytofail'></textarea>
						</fieldset>

						<fieldset class='stepControlRegionWrapper inputRegion' name='stepControlRegionFieldset'>
							<div>Control Region</div>
							<input name='stepControlRegion' type='radio' value='ProvInd' ng-model='step.controlRegion' ng-required='!step.controlRegion'>Prov Ind
							<input name='stepControlRegion' type='radio' value='ProvSur' ng-model='step.controlRegion' ng-required='!step.controlRegion'>Prov Surr
							<input name='stepControlRegion' type='radio' value='ProvDir' ng-model='step.controlRegion' ng-required='!step.controlRegion'>Prov Direct
							<input name='stepControlRegion' type='radio' value='BothDir' ng-model='step.controlRegion' ng-required='!step.controlRegion'>Both Direct
							<input name='stepControlRegion' type='radio' value='CustDir' ng-model='step.controlRegion' ng-required='!step.controlRegion'>Cust Direct
							<input name='stepControlRegion' type='radio' value='CustSur' ng-model='step.controlRegion' ng-required='!step.controlRegion'>Cust Surr
							<input name='stepControlRegion' type='radio' value='CustInd' ng-model='step.controlRegion' ng-required='!step.controlRegion'>Cust Ind
						</fieldset>

						<fieldset class='stepTypeWrapper inputRegion' name='stepTypeFieldset'>
							<div>Step Type</div>
							<input name='stepType' type='radio' ng-model='step.type' ng-required='!step.type' value='Regualr'>Regular
							<input name='stepType' type='radio' ng-model='step.type' ng-required='!step.type' value='Decision'>Decision
							<input name='stepType' type='radio' ng-model='step.type' ng-required='!step.type' value='Wait'>Wait
						</fieldset>

						<fieldset class='previousStepWrapper inputRegion' name='stepPreviousStepFieldset'>
							<div>Previous Step</div>
							<select multiple>
								<option>None</option>
								<option>Previous</option>
								<option>X1</option>
								<option>X2</option>
								<option>(No X3--that's this one)</option>
								<option>X4</option>
								<option>X5</option>
								<option>X6</option>
								<!-- TODO: Dynamically build these based upon other existing steps whenever the select is clicked. Values should include: 'None', 'previous' (trickier), and then list of all steps, except this one. Fun, eh?-->
								<!-- https://docs.angularjs.org/api/ng/directive/select -->
							</select>
						</fieldset>
						<!-- TODO: CUSTOMER VALUE -->
					</div>
					<input type="submit" ng-disabled='addStepForm.$invalid' value='Add Step'></input>

					<div class="floatEnder">
					</div>
				</form>

				<hr/>
				<label>Final JSON</label>
				<div>
					<textarea ng-model='finalJson' class='finalJson'></textarea>
				</div>
				<a href='http://services.byu.edu/pcn/pcn-wizard-0_4.html' target='_blank'>Original PCN Tool</a><!-- TODO: Wish that there was a way to pass parameters to this-->

			</div>
			<div>
				<div class='testHolder'>
					<div class='textholder'>
					</div>
					<div class='textholder'>
					</div>
					<div class='textholder'>
					</div>
				</div>
				<div class='testHolder'>
					<div class='problemHolder'>
						<div class='problemCheckbox'>
							<input type='checkbox'/>
						</div>
						<div class='problemDescriptionToggle'>v
						</div>
						<input type='text' class='problemDescription' value="This is the problem we're talking about!'">
						</input>
					</div>
					<div class='problemHolder'>
						<div class='problemCheckbox'>
							<input type='checkbox'/>
						</div>
						<div class='problemDescriptionToggle'>v
						</div>
						<input type='text' class='problemDescription' value="This is the problem we're talking about!'">
						</input>
					</div>
				</div>
				<div class='testHolder'>

				</div>
				<div class='testHolder'>

				</div>
				<div class='testHolder'>

				</div>
				<div class='testHolder'>

				</div>

			</div>

		</div>

	</div>
</body>
</html>
